# Python
__pycache__/
*.py[cod]
*.so
.venv/
venv/

# Backend artifacts
backend/app/ml/artifacts/
backend/.env

# Node
frontend/node_modules/
frontend/dist/

# Env
.env
frontend/.env

# Misc
.DS_Store
